Checks: "performance-*, bugprone-*, readability-avoid-const-params-in-decls, readability-convert-member-functions-to-static, readability-deleted-default, readability-else-after-return, readability-make-member-function-const, readability-qualified-auto, readability-redundant-declaration, readability-redundant-control-flow, -*unix*, -clang-analyzer-valist*, -*osx*, -performance-noexcept-move-constructor,-bugprone-lambda-function-name"
